FROM phusion/baseimage:{{ image_version }}
MAINTAINER Aldo Vizcaino <aldo.vizcaino87@gmail.com>

# Set correct environment variables.
ENV HOME /root

# Regenerate SSH host keys. baseimage-docker does not contain any, so you
# have to do that yourself. You may also comment out this instruction; the
# init system will auto-generate one during boot.
RUN /etc/my_init.d/00_regen_ssh_host_keys.sh

# ...put your own build instructions here...
RUN apt-get -qq update
RUN mkdir -p /root/.ssh
ADD id_rsa.pub /root/.ssh/authorized_keys
EXPOSE 22 3000

RUN apt-get -qqy install python
# Clean up APT when done.
RUN apt-get clean && rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

# Use baseimage-docker's init system.
ENTRYPOINT ["/sbin/my_init"]

